.random-dog{
    margin: 100px 15% 0 15%;
}
.random-card{
    margin: 10px 15% 10px 15%;
    z-index: -1;
    display: grid;
    grid-template-areas: "a a a";
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
}
.random-dog-info{
    background-color: white;
    border-radius: 5px;
    margin: 10px 15% 10px 15%;
    border:1px solid lightgrey;
    
}
.c2{
    margin: 20px;
    text-align: center;
}



