body{
  background-image:linear-gradient( rgba(255, 255, 255, 0.6),  rgba(255, 255, 255, 0.6)), url("../src/img/dogBackground.jpg");
}
.logo{
  width: 200px;
  height: 58px;
}

.nav-grid-container{
  display: grid;
  grid-template-areas:
    'title . . . . . info';
  padding: 10px 5% 10px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-bottom: 2px solid black;
  z-index: 1;
}
.nav-grid-title{
  grid-area: title;
  font-size: large;
}
.nav-grid-options{
  grid-area: info;
  position: absolute;
  bottom: 10px;
  left: 0;
}
div.nav-grid-options > div{
  display: inline;
  padding: 0 2% 0 2%;
}
.dont-link{
  color: black;
}
.dont-link:focus{
  outline: none;
  color: black;
}
.dont-link:link {
  text-decoration: none;
  color: black;
}
.dont-link:visited {
  text-decoration: none;
  color: black;
}
.dont-link:hover {
  text-decoration: none;
  color: black;
}
.dont-link:active {
  text-decoration: none;
  color: black;
}